.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    row-gap: 16px;
    column-gap: 16px;
    margin: 9.22% 3.75% 7.19%;
    justify-content: stretch;
}

.gallery__img {
    min-width: 0;
    max-width: 100%;
    max-height: auto;
}

