.header {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    
}

.header__logo {
    margin: 34px auto 91px;
    height: 70px;
        
}

@media screen and (max-width: 320px)
{
    .header__logo {
        margin: 20px auto 51px;
        height: 51.85px;
        }
}