.hometowns {
  max-width: calc(100% - (2 * 100px));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hometowns__article {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-gap: 0 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(46px, auto) repeat(4, minmax(48px, min-content));
  grid-auto-rows: min-content;
  justify-content: center;
  align-items: baseline;
  
}

.hometowns__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  align-self: end;
  grid-column: 1;
  margin-bottom: 48px;
}

.hometowns__link {
  text-decoration: none;
  grid-column: 3;
  grid-row: 1;
  align-self: end;
  grid-area: "link";
  grid-column: 2;
  margin-bottom: 48px;
}

.hometowns__artist-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 8px;
}

.hometowns__artist-name {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  display: table;
  color: #fff;
}

.hometowns__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hometowns__img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 2 / span 2;
}

.hometowns__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  grid-column: 2;
}

.hometowns__paragraph:first-of-type {
  margin: 0;
}

.hometowns__button {
  background: #0278fe;
  border-style: none;
  border-radius: 4px;
  color: #fff;
  box-shadow: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  justify-self: start;
  align-self: end;
  padding: 13px 20px;
  text-align: center;
  grid-column: 1;
  grid-row: 5;
}

.hometowns__button:hover {
  background: #0063d2;
}



@media all and (max-width: 320px) {
  .hometowns__button {
    margin-top: 30px;
  }
}

@media all and (max-width: 1000px) {
  .hometowns {
    max-width: 100%;
    margin: 0 3%;
  }
  .hometowns__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 46px;
  }

  .hometowns__link {
    margin-bottom: 46px;
  }

  .hometowns__paragraph {
    font-size: 16px;
  }

  .hometowns__button {
    grid-row: 3;
    align-self: end;
    margin-top: 10%;
  }
}
