.hometowns {
  max-width: calc(100% - (2 * 100px));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hometowns__article {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-gap: 0 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(46px, auto) repeat(3, minmax(48px, min-content));
  grid-auto-rows: min-content;
  justify-content: center;
  align-items: baseline;
}

.hometowns__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  align-self: end;
  grid-column: 1;
  margin-bottom: 48px;
}

.hometowns__link {
  text-decoration: none;
  grid-column: 3;
  grid-row: 1;
  align-self: end;
  grid-column: 2;
  margin-bottom: 48px;
  display: flex;
  flex-flow:  column nowrap;
  justify-content: space-between;

}

.hometowns__artist-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaa;
}

.hometowns__artist-name {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  display: table;
  color: #fff;
}

.hometowns__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 2;
  grid-row: -1;
  grid-area: span 3;
}

.hometowns__img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 2 / span 2;
}

.hometowns__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  
}

.hometowns__button {
  background: #0278fe;
  border-style: none;
  border-radius: 4px;
  color: #fff;
  box-shadow: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
   padding: 13px 20px;
  text-align: center;
  transition: background-color .7s ease-out;
}

.hometowns__button:hover {
  background: #0063d2;
 }

.hometowns__button-link {
  text-decoration: none;
  justify-self: start;
  align-self: end;
  grid-column: 1;
  grid-row: -1;
  
}

.hometowns__button-link-long-text {
  grid-row: 4;
  align-self: start;
}


@media all and (max-width: 320px) {
  .hometowns__button {
    margin-top: 30px;
  }
}

@media all and (max-width: 1000px) {
  .hometowns {
    max-width: 100%;
    margin: 0 3%;
  }
  .hometowns__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 46px;
  }

  .hometowns__link {
    margin-bottom: 46px;
  }

  .hometowns__paragraph {
    font-size: 16px;
  } 
}

@media all and (max-width: 700px) {
  .hometowns {
    margin: 0;
  }

  .hometowns__article {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 25px;
  }

  .hometowns__title {
    font-size: 32px;
    line-height: 35px;
    align-self: flex-start;
    margin: 0 16px 5px;
  }

  .hometowns__link {
    align-self: flex-start;
    margin: 0 16px 5px;
  }

  .hometowns__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }

  .hometowns__button-link, .hometowns__button-link-long-text {
    align-self: center;
    margin: 5px 0 0;
    padding: 13px 40px;
  }

  .hometowns__img {
    margin-bottom: 5px;
    width: 100%;
  }
}
