.intro {
  margin: 0 100px;
  padding: 0;
  max-width: 100%;
}

.intro__heading {
  text-rendering: optimizeLegibility;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 200px 40px 0;
}

.intro__quote {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 0 264px 10px 0;
  max-width: 720px;
}

.intro__cite {
  text-align: right;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 0 264px 32px 0;
  max-width: 720px;
}

.intro__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0 264px 0 0;
  max-width: 720px;

}

@media screen and (max-width: 1000px)  {
  .intro {
    margin: 0;
  }

  .intro__heading,
  .intro__quote,
  .intro__cite,
  .intro__description {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;
    width: 100%;
  }
}

@media screen and (max-width: 755px)
{
  .intro{
    max-width: calc(100% - 2*2.9%);
  }

  .intro__heading,
  .intro__quote,
  .intro__cite,
  .intro__description {
   margin: 0 2.9%;
   max-width: 100%;
  }

  .intro__heading {
    font-size: 43px;
    line-height: 1.1;
  }
}

@media all and (max-width: 370px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 320px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .intro__cite,
  .intro__description {
    width: 288px;
    max-width: 100%;
    
  }

  .intro__cite {
    margin-bottom: 32px;
  }

  .intro__heading {
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 40px;
  }

  .intro__quote {
    line-height: 1.25;
    margin-bottom: 10px;
  
  }
}




