.lead {
  margin: 0;
  padding: 0;
 
}

.lead__heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  text-rendering: optimizeLegibility;
  margin: 0 auto 32px;
  max-width: 950px;
}

.lead__subheading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 64px;
  max-width: 720px;
}

.lead__image {
  margin: 0 auto 92px;
  width: calc(100% - (.115625 * 2));
  display: block;
  
}

@media screen and (max-width: 768px) and (min-width: 545px) {
  .lead__heading {
    width: calc(100% - 6.25%);
    margin: 0 auto 6.25%;
  
  }

  .lead__subheading {
    width: calc(100% - 48px);
    margin: 0 auto 36px;
  }

  .lead__image {
    margin: 0 0 88px;
    width: 100%;
  }
}

@media screen and (max-width: 544px) and (min-width: 321px) {
  .lead__heading {
    font-size: 68px;
    line-height: 1.12;
  }
}

@media screen and (max-width: 320px) {
  .lead__heading {
    width: calc(100% - 32px);
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subheading {
    width: calc(100% - 32px);
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 20px;
  }
  .lead__image {
    margin: 0 0 64px;
    width: 100%;
  }
}
