.page {
  margin: 0 auto;
  background: #2a2c2f;
  color: #fff;
  min-width: 100vh;
  width: 100%;
  max-width: 1184px;
  min-width: 320px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
